@import "/src/colors.scss";

.container {
    color: $md-light;
}

.carousel {
    display: flex;
    gap: clamp(1em, 1vw, 2em);
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon {
        transform: scale(2);
    }

    .mat-focus-indicator::before {
        border: none !important;
    }
}

.cards {
    display: flex;
    gap: clamp(1em, 2vw, 3em);
    width: 85vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
