<div class="container">
    <div class="left">
        <div class="logo">
            <a [routerLink]="''">
                <button mat-icon-button>
                    <mat-icon svgIcon="pcs_logo"></mat-icon>
                </button>
                Home
            </a>
        </div>

        <div class="search">
            <mat-form-field color="accent">
                <input matInput placeholder="Search for playing cards" />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div class="right">
        <div class="links">
            <a [routerLink]="''">Shop</a>
            <a [routerLink]="''">About Us</a>
            <a [routerLink]="''">Contact</a>
            <a [routerLink]="''">Terms and Conditions</a>
        </div>

        <div class="cart">
            <button mat-icon-button>
                <mat-icon fontSet="material-icons-outlined">
                    shopping_cart
                </mat-icon>
            </button>
        </div>
    </div>
</div>
